
  .myNavbar {
    height: 100%;
    position: fixed;
    width: 0;
    align-items: center;
    z-index: 1;
    top: 0px;
    left: 0px;
    background-color: rgb(71, 13, 33);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 90px;
  }
  .header .anchor {
    text-decoration: none;
    position: relative;
    color: #f1f1f1;
   top: 20px;
   right: 40px;
  }

.myNavbar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
    }
  .myNavbar a:hover,
  .myNavbar a:active {
    color: #f1f1f1;
  }

  .myNavbar .closeButton {
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  .spn1 {
    font-size:30px;
    cursor: pointer;
    position: fixed;
    left: 20px;
    top: 10px;
    color: #f1f1f1;
  }
  h2 {
    position: relative;
    display: block;
    margin: 10px 10px;
    padding: 0 20px;
    top: 70px;
    font-size: 1.5em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  hr {
    position: relative;
    margin: 10px 0;
    display: block;
    height: 2px;
    width: 50%;
    border: 0;
    color: rgb(0, 0, 0);
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
  }
  ul {
    position: relative;
    display: block;
    margin: 20px;
    padding: 20px;
    font-size: 18px;
    text-align: justify;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  @media screen and ( max-width:767px) {
    #istyling-1 {
      display: none;
    }
    #istyling-2 {
     display: none;
    }
    #istyling-3 {
      display: none;
    }
    #istyling-4 {
      display: none;
    }
    #istyling-5 {
      display: none;
    }
    #istyling-6 {
      display: none;
    }
    #i1,#i2,#i3,#i4,#i5,#i6 {
      display: block;
      clear: both;
      float: left;
      margin: 5px 0;
    }
    #hp {
      margin-top: 10px;
     display: block;
     clear: both;
     padding-top: 10px;
    }
    #mainContent {
      margin: 50px auto 0 auto;
      align-items: center;
      background-color: rgb(248, 245, 241);
    }
    body {
      overflow-x: hidden;
      align-items: center;
      margin: 0;
      
    }
    .header {
      font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
      position: fixed;
      display: block;
      text-align: right;
      top: 0%;
      left: 0;
      width: 100%;
      height:70px;
      font-size: 18px;
      background-color: rgb(156, 15, 72);
      z-index: 1;
      border: 30px;
      border-color: rgba(12, 43, 90, 0.849);
    }
    .header .anchor {
      text-decoration: none;
      position: relative;
      color: #f1f1f1;
     top: 23px;
     right: 20px;
    }
    .spn1 {
      font-size:25px;
      cursor: pointer;
      position: fixed;
      left: 20px;
      top: 18px;
      color: #f1f1f1;
    }
    p {
      top: 60px;
      display: block;
      text-align: justify;
      position:relative;
      padding: 10px 20px;
      margin: 10px;
      font-size: 18px;
      font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
  }
  @media screen and ( min-width:768px) {
    .fa{
      font: size 20px;
    }
    #istyling-1 {
      margin: 0 5px 0 20px;
    }
    #istyling-2 {
      margin: 0 5px 0 50px;
    }
    #istyling-3 {
      margin: 0 5px 0 19px;
    }
    #istyling-4 {
      margin: 0 5px 0 68px;
    }
    #istyling-5 {
      margin: 0 5px 0 19px;
    }
    #istyling-6 {
      margin: 0 5px 0 20px;
    }
    #mainContent {
      width: 70%;
      height: 60%;
      margin: 100px auto;
      align-items: center;
      background-color: rgb(248, 245, 241);
      box-shadow: 10px 10px 50px 10px rgb(179 146 175);
    }
    body {
      overflow-x: hidden;
      align-items: center;
      margin: 0;
      background-color:rgb(249, 228, 212);
    }
    .header {
      font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
      position: fixed;
      display: block;
      text-align: right;
      top: 0%;
      left: 0;
      width: 100%;
      height:70px;
      font-size: 1.5em;
      background-color: rgb(156, 15, 72);
      z-index: 1;
      border: 30px;
      border-color: rgba(12, 43, 90, 0.849);
    }
    p {
      top: 60px;
      display: block;
      text-align: justify;
      position:relative;
      padding: 10px 20px;
      margin: 10px;
      font-size: 18px;
      font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
  }
  @media screen and (min-width: 1024){
    .fa {
      font: size 20px;
    }
    #istyling-1 {
      margin: 0 5px 0 20px;
    }
    #istyling-2 {
      margin: 0 5px 0 110px;
    }
    #istyling-3 {
      margin: 0 5px 0 19px;
    }
    #istyling-4 {
      margin: 0 5px 0 126px;
    }
    #istyling-5 {
      margin: 0 5px 0 19px;
    }
    #istyling-6 {
      margin: 0 5px 0 77px;
    }
    #mainContent {
      width: 70%;
      height: 60%;
      margin: 100px auto;
      align-items: center;
      background-color: rgb(248, 245, 241);
      box-shadow: 10px 10px 50px 10px rgb(179 146 175);
    }
    body {
      overflow-x: hidden;
      align-items: center;
      margin: 0;
      background-color:rgb(249, 228, 212);
    }
    .header {
      font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
      position: fixed;
      display: block;
      text-align: right;
      top: 0%;
      left: 0;
      width: 100%;
      height:70px;
      font-size: 1.5em;
      background-color: rgb(156, 15, 72);
      z-index: 1;
      border: 30px;
      border-color: rgba(12, 43, 90, 0.849);
    }
    p {
      top: 60px;
      display: block;
      text-align: justify;
      position:relative;
      padding: 10px 20px;
      margin: 10px;
      font-size: 25px;
      font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
  }
  @media screen and (min-width:2500) {
    fa {
      font: size 20px;
    }
    #istyling-1 {
      margin: 0 5px 0 20px;
    }
    #istyling-2 {
      margin: 0 5px 0 110px;
    }
    #istyling-3 {
      margin: 0 5px 0 19px;
    }
    #istyling-4 {
      margin: 0 5px 0 126px;
    }
    #istyling-5 {
      margin: 0 5px 0 19px;
    }
    #istyling-6 {
      margin: 0 5px 0 77px;
    }
    #mainContent {
      width: 80%;
      height: 100%;
      margin: 150px auto;
      align-items: center;
      background-color: rgb(248, 245, 241);
      box-shadow: 10px 10px 50px 10px rgb(179 146 175);
    }
    body {
      overflow-x: hidden;
      align-items: center;
      margin: 0;
      height: 1000px;
      background-color:rgb(249, 228, 212);
    }
    .header {
      font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
      position: fixed;
      display: block;
      text-align: right;
      top: 0%;
      left: 0;
      width: 100%;
      height:110px;
      font-size: 1.5em;
      background-color: rgb(156, 15, 72);
      z-index: 1;
      border: 30px;
      border-color: rgba(12, 43, 90, 0.849);
    }
    .header .anchor {
      text-decoration: none;
      position: relative;
      color: #f1f1f1;
     top: 40px;
     right: 60px;
    }
    .spn1 {
      font-size: 1.5em;
      cursor: pointer;
      position: fixed;
      left: 50px;
      top: 25px;
      color: #f1f1f1;
    }
    .header {
      font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
      position: fixed;
      display: block;
      text-align: right;
      top: 0%;
      left: 0;
      width: 100%;
      height:70px;
      font-size: 1.5em;
      background-color: rgb(156, 15, 72);
      z-index: 1;
      border: 30px;
      border-color: rgba(12, 43, 90, 0.849);
    }
    p {
      top: 60px;
      display: block;
      text-align: justify;
      position:relative;
      padding: 10px 20px;
      margin: 10px;
      font-size: 40px;
      font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
  }